doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		meta(name="theme-color", content="#9b4dca")
		title BitTorrent Settings Calculator
		link(rel="stylesheet", href="~/style.scss")
	body
		div#app
			p
				strong Hey there
				span , it looks like you have JavaScript disabled.
			p That's cool (and probably better for you in the long run), but
				| unfortunately I haven't written a JavaScript-free version of this
				| calculator so I doubt you'll be able to use it.
			p If you'd like to enable JavaScript and try it out, I promise I'm not
				| doing anything malicious.  No cookies, not tracking, no mining of
				| cryptocurrencies, etc.  Just a simple, clean, torrent settings
				| calculator.
			p You can verify all this if you want, by looking at the
				a(href="https://gitlab.com/gabeotisbenson/torrentcalc-site")
					| git repository
				| for this site's code.
		script(src="~/index.js")
